#content div span.ui-icon-arrowthick-2-n-s { 
	position: absolute; 
	margin-left: -1.3em; 
	cursor:move;
}

#content > div { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em;   
}
#content div span { 
	position: absolute; 
	margin-left: -1.3em; 
	cursor:move;
}